interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.gdacs.org/gdacsapi/api/events/geteventdata?eventtype=TC&eventid=1001230
  response:
    body:
      string: '{"type":"Feature","bbox":[-60.5,39.0,-60.5,39.0],"geometry":{"type":"Point","coordinates":[-60.5,39.0]},"properties":{"eventtype":"TC","eventid":1001230,"episodeid":41,"eventname":"MELISSA-25","glide":"TC-2025-000196-HTI","name":"Tropical
        Cyclone MELISSA-25","description":"Tropical Cyclone MELISSA-25","htmldescription":"Red
        Tropical Cyclone MELISSA-25 in Jamaica, Cuba, Bahamas, Bermuda, Haiti, Canada
        from: 21 Oct 2025  to: 31 Oct 2025 .","icon":"https://www.gdacs.org/images/gdacs_icons/maps/Green/TC.png","iconoverall":"https://www.gdacs.org/images/gdacs_icons/maps/Red/TC.png","url":{"geometry":"https://www.gdacs.org/gdacsapi/api/polygons/getgeometry?eventtype=TC&eventid=1001230&episodeid=41","report":"https://www.gdacs.org/report.aspx?eventid=1001230&episodeid=41&eventtype=TC","media":"https://www.gdacs.org/gdacsapi/api/emm/getemmnewsbykey?eventtype=TC&eventid=1001230","eventnews":"https://www.gdacs.org/gdacsapi/api/news/getnewsbygdacskey?eventtype=TC&eventid=1001230"},"alertlevel":"Red","alertscore":3,"episodealertlevel":"Green","episodealertscore":1.0,"istemporary":"false","iscurrent":"false","country":"Jamaica,
        Cuba, Bahamas, Bermuda, Haiti, Canada","fromdate":"2025-10-21T15:00:00","todate":"2025-10-31T15:00:00","datemodified":"2026-02-11T15:18:59.037","iso3":"JAM","source":"NOAA","sourceid":"","polygonlabel":"Centroid","Class":"Point_Centroid","countryonland":"","affectedcountries":[{"iso2":"JM","iso3":"JAM","countryname":"Jamaica"},{"iso2":"CU","iso3":"CUB","countryname":"Cuba"},{"iso2":"BM","iso3":"BMU","countryname":"Bermuda"},{"iso2":"HT","iso3":"HTI","countryname":"Haiti"},{"iso2":"CA","iso3":"CAN","countryname":"Canada"}],"severitydata":{"severity":296.2944,"severitytext":"Hurricane/Typhoon
        > 74 mph (maximum wind speed of 296 km/h)","severityunit":"km/h"},"episodes":[{"details":"https://www.gdacs.org/gdacsapi/api/events/getepisodedata?eventtype=TC&eventid=1001230&episodeid=1"},{"details":"https://www.gdacs.org/gdacsapi/api/events/getepisodedata?eventtype=TC&eventid=1001230&episodeid=2"},{"details":"https://www.gdacs.org/gdacsapi/api/events/getepisodedata?eventtype=TC&eventid=1001230&episodeid=3"},{"details":"https://www.gdacs.org/gdacsapi/api/events/getepisodedata?eventtype=TC&eventid=1001230&episodeid=4"},{"details":"https://www.gdacs.org/gdacsapi/api/events/getepisod[...]
