interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ifrcgo.org/monty-stac-extension/v1.0.0/schema.json
  response:
    body:
      string: "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"$id\":
        \"https://ifrcgo.org/monty-stac-extension/v1.0.0/schema.json#\",\n  \"title\":
        \"Monty Extension\",\n  \"description\": \"STAC Monty Extension for STAC Items
        and STAC Collections.\",\n  \"oneOf\": [\n    {\n      \"$comment\": \"This
        is the schema for STAC Items.\",\n      \"allOf\": [\n        {\n          \"$ref\":
        \"#/definitions/stac_extensions\"\n        },\n        {\n          \"type\":
        \"object\",\n          \"required\": [\n            \"type\",\n            \"properties\"\n
        \         ],\n          \"properties\": {\n            \"type\": {\n              \"const\":
        \"Feature\"\n            },\n            \"properties\": {\n              \"allOf\":
        [\n                {\n                  \"$comment\": \"Require fields here
        for Item Properties.\",\n                  \"required\": [\n                    \"monty:country_codes\",\n
        \                   \"monty:hazard_codes\",\n                    \"monty:corr_id\",\n
        \                   \"roles\"\n                  ]\n                },\n                {\n
        \                 \"$ref\": \"#/definitions/fields\"\n                },\n
        \               {\n                  \"$ref\": \"#/definitions/roles\"\n                }\n
        \             ]\n            }\n          }\n        }\n      ]\n    },\n
        \   {\n      \"$comment\": \"This is the schema for STAC Collections.\",\n
        \     \"allOf\": [\n        {\n          \"$ref\": \"#/definitions/stac_extensions\"\n
        \       },\n        {\n          \"type\": \"object\",\n          \"required\":
        [\n            \"type\",\n            \"providers\",\n            \"license\"\n
        \         ],\n          \"properties\": {\n            \"type\": {\n              \"const\":
        \"Collection\"\n            }\n          }\n        },\n        {\n          \"$ref\":
        \"#/definitions/roles\"\n        }\n      ],\n      \"anyOf\": [\n        {\n
        \         \"$comment\": \"This is the schema for the fields in Summaries.
        By default, only checks the existence of the properties, but not the schema
        of the summaries.\",\n          \"required\": [\n            \"summaries\"\n
        \         ],\n          \"properties\": {\n            \"summaries\": {\n
        \             \"required\": [\n                \"monty:country_codes\",\n
        \               \"monty:hazard_codes\"\n              ]\n            }\n          }\n
        \       }\n      ]\n    }\n  ],\n  \"definitions\": {\n    \"stac_extensions\":
        {\n      \"type\": \"object\",\n      \"required\": [\n        \"stac_extensions\"\n
        \     ],\n      \"properties\": {\n        \"stac_extensions\": {\n          \"type\":
        \"array\",\n          \"contains\": {\n            \"const\": \"https://ifrcgo.org/monty-stac-extension/v1.0.0/schema.json\"\n
        \         }\n        }\n      }\n    },\n    \"fields\": {\n      \"$comment\":
        \"Monty prefixed fields\",\n      \"type\": \"object\",\n      \"properties\":
        {\n        \"monty:episode_number\": {\n          \"type\": \"integer\"\n
        \       },\n        \"monty:country_codes\": {\n          \"type\": \"array\",\n
        \         \"items\": {\n            \"type\": \"string\",\n            \"pattern\":
        \"^([A-Z]{3})|AB9$\",\n            \"$comment\": \"AB9 is a special code for
        the Abyei area used by IDMC\"\n          }\n        },\n        \"monty:hazard_codes\":
        {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\":
        \"string\",\n            \"pattern\": \"^([A-Z]{2}(?:\\\\d{4}$){0,1})|([a-z]{3}-[a-z]{3}-[a-z]{3}-[a-z]{3})|([A-Z]{2})$\"\n
        \         }\n        },\n        \"monty:corr_id\": {\n          \"type\":
        \"string\"\n        },\n        \"monty:hazard_detail\": {\n          \"type\":
        \"object\",\n          \"required\": [\n            \"cluster\"\n          ],\n
        \         \"properties\": {\n            \"cluster\": {\n              \"type\":
        \"string\"\n            },\n            \"severity_value\": {\n              \"type\":
        \"number\"\n            },\n            \"severity_unit\": {\n              \"type\":
        \"string\"\n            },\n            \"severity_label\": {\n              \"type\":
        \"string\"\n            },\n            \"estimate_type\": {\n              \"$ref\":
        \"#/definitions/estimate_type\"\n            }\n          },\n          \"additionalProperties\":
        true\n        },\n        \"monty:impact_detail\": {\n          \"type\":
        \"object\",\n          \"properties\": {\n            \"category\": {\n              \"type\":
        \"string\",\n              \"enum\": [\n                \"people\",\n                \"crops\",\n
        \               \"women\",\n                \"men\",\n                \"children_0_4\",\n
        \               \"children_5_9\",\n                \"children_10_14\",\n                \"children_15_19\",\n
        \               \"adult_20_24\",\n                \"adult_25_29\",\n                \"adult_30_34\",\n
        \               \"adult_35_39\",\n                \"adult_40_44\",\n                \"adult_45_49\",\n
[...]
